.carouselContainer {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  background: #aec6cf;;
  border-radius: 5px;
  text-align: center;

  &-image {
    max-height: 440px;
    border-radius: 5px;
  }
}

.example {
  height: 440px !important;
}